<div class="document">
<div class="cv__header">
  <h1 class="print-only">{{ cv.name }}</h1>
  <div class="contact-info">
    <div class="phone">{{ cv.phone }}</div>
    <div class="email">{{ cv.email }}</div>
    <div class="address">{{ cv.address }}</div>
  </div>
</div>
<div class="summary">
  <p>{{ cv.summaries[0].description }}</p>
</div>
<h2>Qualifications and Skills</h2>
<div class="filters">
  <button type="button" *ngFor="let tag of validTags" 
    [ngClass]="{ 'tag btn btn-sm': true, 'btn-primary': selectedTags.indexOf(tag) >= 0 }" 
    (click)="toggleTagSelection(tag)">{{ tag }}</button>
</div>
<div class="skills">
  <div *ngFor="let skill of cv.skills" [ngClass]="{ 'skill': true, 'highlighted': skill.highlight }">
    <span>{{ skill.name }}</span>
    <app-rating [value]="skill.rating" *ngIf="showRatings"></app-rating>
  </div>

</div>
<h2>Professional Experience</h2>
<div class="jobs">
  <div class="job" *ngFor="let job of cv.jobs">
    <h3>{{ job.title }}</h3>
    <div>{{ job.organizationName }}, {{ job.location }}</div>
    <div>{{ job.startDate }} thru {{ job.endDate }}</div>
    <ul class="accomplishments">
      <li *ngFor="let accomplishment of job.accomplishments">{{ accomplishment }}</li>
    </ul>
  </div>
</div>
 
<h2>Volunteerism</h2>
<div>
  <div class="job" *ngFor="let job of cv.volunteering">
    <h3>{{ job.organizationName }}</h3>
    <ul class="accomplishments">
      <li *ngFor="let accomplishment of job.accomplishments">{{ accomplishment }}</li>
    </ul>
  </div>
</div>

</div>