<div class="main-container">
    <div class="alert alert-app-level"></div>
    <header class="header header-6">
        <div class="branding">
            <a href="/" class="nav-link" style="color: #fff">
                <clr-icon shape="dna" class="is-solid"></clr-icon>
                <span class="title" style="font-size: 1.2rem">Gary Alfred</span>
            </a>
        </div>
        <div class="header-nav">
            <a href="/cv" class="active nav-link"><span class="nav-text">Curriculum Vitae</span></a>
            <a href="/journal" class="nav-link"><span class="nav-text">Journal</span></a>
        </div>
        <div class="header-actions">
            <a href="/settings" class="nav-link nav-icon" aria-label="settings">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>
    <nav class="subnav">
        ...
    </nav>
    <div class="content-container">
        <router-outlet></router-outlet>
        <!-- div class="content-area">
            ...
        </div>
        <nav class="sidenav">
            ...
        </nav -->
    </div>
</div>